
@import 'variables'
@import 'loadout'

*
  z-index initial

html
  background-color black
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(assets/campfire.png) no-repeat center center fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover

body
  color white
  font-family 'Roboto Condensed', sans-serif

h1,h2,h3,h4,h5,h6
  text-transform uppercase
h1
  font-size 22px
  font-weight 400
h2
  font-size 20px
  font-weight 700
  margin-bottom 20px
  i 
    float right
h3
  font-size 18px
  font-weight 700
h4
  font-size 14px
  font-weight 300
p
  font-size 14px
a
  color white
i 
  margin-left 5px

#app
  margin 0 auto
  max-width 750px
  width 100%

.container
  padding 20px

nav
  align-items center
  justify-content center
  background-color charcoal
  margin: 20px 0
  overflow hidden
  padding 20px
  h1 
    float left
  a
    float right
    font-size 24px

button
  background-color red
  border none
  color white
  cursor pointer
  font-family 'Roboto Condensed', sans-serif
  font-size 16px
  margin 30px auto
  padding 20px 30px
  &:hover
    background-color #dd0001

.fade-enter-active, .fade-leave-active
  transition opacity 3s ease-in-out
.fade-enter-to
  opacity 1
.fade-enter, .fade-leave-to
  opacity 0

hr 
  background-image linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0))
  border 0
  height 1px
  margin 20px

.perk-info
  background-color black
  color white
  text-align left
  width 300px
  z-index 9999
  .perk-info-header
    padding 10px
    &.rare
      background-color green 
    &.very-rare
      background-color purple
  .perk-info-desc
    padding 10px